<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
</head>
<body>
    <nav>
        <!-- Barra de navegación aquí -->
        <a href="{% url 'clases:home' %}">Ir a la página de inicio</a>
    </nav>
    <header>
        <!-- Encabezado aquí -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Pie de página aquí -->
    </footer>
</body>
</html>