{% load static %}
<!-- Archivo login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="screen-1">
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="300" height="300" viewbox="0 0 640 480" xml:space="preserve">
                <!-- Aquí va el código SVG del logo -->
                <g transform="matrix(3.31 0 0 3.31 320.4 240.4)">
                    <circle style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(61,71,133); fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="40"></circle>
                </g>
                <!-- Agrega aquí más elementos si el SVG continúa -->
            </svg>

            <div class="email">
                <label for="username">Nombre de usuario</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="username" placeholder="Username">
                </div>
            </div>

            <div class="password">
                <label for="password">Contraseña</label>
                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" placeholder="············">
                    <ion-icon class="show-hide" name="eye-outline"></ion-icon>
                </div>
            </div>

            <button class="login" type="submit">Login</button>

            <div class="footer">
                <span>Registrate</span>
                <span>Forgot Password?</span>
            </div>
        </div>
    </form>
</body>
</html>
