{% extends 'base.html' %}

{% block content %}
    <h1>Bienvenido, {{ user.username }}!</h1>

    <h2>Información de perfil:</h2>
    <p>Nombre de usuario: {{ user.username }}</p>
    <p>Nombre: {{ user.first_name }}</p>
    <p>Apellido: {{ user.last_name }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <p>¿Activo?: {% if user.is_active %}Sí{% else %}No{% endif %}</p>
    <p>¿Personal administrativo?: {% if user.is_staff %}Sí{% else %}No{% endif %}
    <p>¿Superusuario?: {% if user.is_superuser %}Sí{% else %}No{% endif %}</p>

<!-- perfil.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- Encabezado del documento -->
</head>
<body>
    <h1>Perfil de {{ user.username }}</h1>

    <h2>Evaluaciones:</h2>
    <ul>
        {% for evaluacion in evaluaciones %}
        <li>{{ evaluacion.fecha }} - Calificación: {{ evaluacion.calificacion }}</li>
        {% endfor %}
    </ul>

    <h2>Resultados:</h2>
    <ul>
        {% for resultado in resultados %}
        <li>{{ resultado.fecha }} - Respuesta: {{ resultado.id_respuesta }}</li>
        {% endfor %}
    </ul>

    <h2>Progreso:</h2>
    <ul>
        {% for progreso in progreso %}
        <li>{{ progreso.id_leccion }} - Completada: {{ progreso.completada }}</li>
        {% endfor %}
    </ul>

    <h2>Puntuaciones:</h2>
    <ul>
        {% for puntuacion in puntuaciones %}
        <li>{{ puntuacion.id_leccion }} - Puntuación: {{ puntuacion.puntuacion }}</li>
        {% endfor %}
    </ul>

    <!-- Otros contenidos del perfil -->
</body>
</html>
{% endblock %}
